@charset "UTF-8";

/*———————————————————————————————————*\
    $ VARIABLES & MINXINS
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ COLORS
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ FONTS
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ PATHS
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ LISTS
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ MEDIAS
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ large-desktop
\*———————————————————————————————————/*
  Média pour les grand écrans d'ordinateurs

  @use
    @include large-desktop() {
      // Code for large-desktop device
    }
     
  @result
    @media screen and (min-width: 1200px) {
        // Code for large-desktop device
    }
*/

/*———————————————————————————————————*\
    $ desktop
\*———————————————————————————————————/*
  Média pour les écrans d'ordinateurs et -

  @use
    @include desktop() {
       // Code for desktop device
    }

  @result
    @media screen and (min-width: 1200px) {
        // Code for desktop device
    }
*/

/*———————————————————————————————————*\
    $ only-tablet
\*———————————————————————————————————/*
  Média uniquement pour les écrans de tablette

  @use
    @include only-tablet() {
       // Code for only-tablet device
    }

  @result
    @media screen and (min-width: 767px) and (max-width: 1024px) {
        // Code for only-tablet device
    }
*/

/*———————————————————————————————————*\
    $ tablet
\*———————————————————————————————————/*
  Média pour les écrans de tablette et -

  @use
    @include tablet() {
       // Code for tablet device
    }

  @result
    @media screen and (max-width: 1024px) {
        // Code for tablet device
    }
*/

/*———————————————————————————————————*\
    $ mobile
\*———————————————————————————————————/*
  Média uniquement pour les écrans mobile

  @use
    @include mobile() {
       // Code for mobile device
    }

  @result
    @media screen and (max-width: 768px) {
        // Code for mobile device
    }
*/

/*———————————————————————————————————*\
    $ small-mobile
\*———————————————————————————————————/*
  Média uniquement pour les écrans small-mobile

  @use
    @include small-mobile() {
       // Code for small-mobile device
    }

  @result
    @media screen and (max-width: 400px) {
        // Code for small-mobile device
    }
*/

/*———————————————————————————————————*\
    $ landscape
\*———————————————————————————————————/*
  Média uniquement pour les écrans en format paysage

  @use
    @include landscape() {
       // Code for landscape device
    }

  @result
    @media screen and (orientation: landscape) {
        // Code for landscape device
    }
*/

/*———————————————————————————————————*\
    $ print
\*———————————————————————————————————/*
  Média uniquement pour l'impression

  @use
    @include print() {
       // Code for printer
    }

  @result
    @media print {
        // Code for printer
    }
*/

/*———————————————————————————————————*\
    $ TITLE
\*———————————————————————————————————/*
  Raccourcie de media query

  @use
    @include media(max-width:350px) {
       // Code for your media max-width 350px device
    }

  @result
    @media screen and (max-width: 350px) {
       // Code for your media max-width 350px device
    }
*/

/*———————————————————————————————————*\
    $ center-absolute
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ center-flex
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ center-block
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ rem
\*———————————————————————————————————/*
  px to rem

  @use
    padding: rem(16px) rem(32px);

  @result
    padding: 1rem 2rem;
*/

/*———————————————————————————————————*\
    $ font-size
\*———————————————————————————————————/*
  Font-size rem and fallback px

  @use
    @include font-size(16px);

  @result
    font-size: 16px;
    font-size: 1rem;
*/

/*———————————————————————————————————*\
    $ MEDIAS ORDER
\*———————————————————————————————————*/

/*
  C'est pour que webpack compile les médias dans l'ordre ci-dessous
*/

@media screen and (min-width: 1200px) {
  .mqpacker {
    width: initial;
  }
}

@media screen and (max-width: 1200px) {
  .mqpacker {
    width: initial;
  }
}

@media screen and (max-width: 1024px) {
  .mqpacker {
    width: initial;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mqpacker {
    width: initial;
  }
}

@media screen and (max-width: 768px) {
  .mqpacker {
    width: initial;
  }
}

@media screen and (max-width: 400px) {
  .mqpacker {
    width: initial;
  }
}

@media screen and (orientation: landscape) {
  .mqpacker {
    width: initial;
  }
}

@media print {
  .mqpacker {
    width: initial;
  }
}

/*———————————————————————————————————*\
    $ LIBS & NODE_MODULES

  @exemple: @import "~bootstrap/dist/css/bootstrap";
  @see:     https://github.com/webpack-contrib/sass-loader#imports
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ GOOGLE FONT

  @exemple: @import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto:400,700');
  @see:     https://fonts.google.com/
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ COMMON
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ GLOBAL
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ TYPOGRAPHY
\*———————————————————————————————————*/

body {
  font-family: Helvetica, Roboto, "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: normal;
}

a {
  color: #0b0726;
  text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", Times, serif;
}

.h1,
h1 {
  font-size: 35px;
  font-size: 2.1875rem;
}

.h2,
h2 {
  font-size: 30px;
  font-size: 1.875rem;
}

.h3,
h3 {
  font-size: 25px;
  font-size: 1.5625rem;
}

.h4,
h4 {
  font-size: 18px;
  font-size: 1.125rem;
}

/*———————————————————————————————————*\
    $ ICONS
\*———————————————————————————————————*/

.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
}

/*———————————————————————————————————*\
    $ HELPERS
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ UTILS CLASSES
\*———————————————————————————————————*/

.bg-primary {
  background-color: #3bcf9a;
}

.color-primary {
  color: #3bcf9a;
}

.bg-secondary {
  background-color: #0b0726;
}

.color-secondary {
  color: #0b0726;
}

/*———————————————————————————————————*\
    $ OVERLAY
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ CENTER ABSOLUTE
\*———————————————————————————————————/*
  Centre en position absolute

  @use
    @extend %a_x;
    @extend %a_y;
    @extend %a_xy;

  @result
  // a_x
    position:  absolute;
    left:      50%;
    transform: translate(-50%);
  // a_y
    position:  absolute;
    top:       50%;
    transform: translateY(-50%);
  // a_xy
    position:  absolute;
    top:       50%;
    left:      50%;
    transform: translate(-50%, -50%);
*/

/*———————————————————————————————————*\
    $ CENTER FLEX
\*———————————————————————————————————/*
  Centre en display flex

  @use
    @extend %f_x;
    @extend %f_y;
    @extend %f_xy;

  @result
  // f_x
    display:         flex;
    justify-content: center;
  // f_y
    display:     flex;
    align-items: center;
  // f_xy
    display:         flex;
    align-items:     center;
    justify-content: center;
*/

/*———————————————————————————————————*\
    $ CENTER BLOCK
\*———————————————————————————————————/*
  Centre en display block

  @use
    @extend %b-x;

  @result
    display:      block;
    margin-left:  auto;
    margin-right: auto;
*/

/*———————————————————————————————————*\
    $ ELEMENTS
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ BUTTONS
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ MODULES
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ CARD
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ LAYOUTS
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ HEADER
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ NAV
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ FOOTER
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ FORMS
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ PAGES
\*———————————————————————————————————*/

.homepage {
  /*———————————————————————————————————*\
    $ HOMEPAGE
\*———————————————————————————————————*/
}


/*# sourceMappingURL=app.css.map*/