.sidebar {
  height:   400px;
  position: absolute;
  right:    0;
  bottom:   0;
  left:     0;
  padding:  0 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), black);
  
  .affiche {
    width:      200px;
    height:     300px;
    transition: all $t-duration;
    cursor:     pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .list {
    display: flex;
    margin:  0;
    padding: 0;

    &__container {
      display:      flex;
      margin-right: 30px;
    }
  }

  .item {
    display:    inline-block;
    text-align: center;
    z-index: 2;

    &:not(.active) .affiche:hover {
      transform:  translateY(-10px) scale(1.05);
      box-shadow: 0 6px 13px rgba(0, 0, 0, 0.4);
    }

  }


  .restant {
    margin-top: 5px;
    font-size:  14px;
    color:      white;
  }
  
  .active {

    .affiche {
      width:      270px;
      height:     400px;
      margin-top: -70px;
      cursor:     auto;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    }
  
    .restant {
      font-size: 20px;
    }
  }
}