/*———————————————————————————————————*\
    $ UTILS CLASSES
\*———————————————————————————————————*/
@each $name, $color in $list-color {
  .bg-#{$name} {
    background-color: $color;
  }
  
  .color-#{$name} {
      color: $color;
  }
}

.pull-right {
  position: absolute;
  right: 100px;
  top: 200px;

  &:not(.active){
    display: none;

  }
}

.text-center {
 text-align: center;
}