/*———————————————————————————————————*\
    $ UTILS CLASSES
\*———————————————————————————————————*/
@each $name, $color in $list-color {
  .bg-#{$name} {
    background-color: $color;
  }
  
  .color-#{$name} {
      color: $color;
  }
}

.pull-right {
  transition: all $t-duration ($t-duration / 2);
  opacity: 1;
  position: absolute;
  right: 100px;
  top: 200px;

  &:not(.active){
    transition: all ($t-duration / 2);
    opacity: 0;
  }
}

.wallpaper {

  img:not(.active) {
    opacity: 0;
  }

  img {
    transition: all $t-duration;
    opacity: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.text-center {
 text-align: center;
}
