/*———————————————————————————————————*\
    $ GLOBAL
\*———————————————————————————————————*/
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

#video {
    &:not(.active) {
        display: none;
    }
}

ol {
    padding: 0;
    list-style: none;
}
